nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h1 {
    background-color: #dbdbdb;
    padding: 20px;
    text-align: center;
}


footer {
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 20px;
    text-align: center;
}
